h1{
    color:#05F9C9; 
    background-color:#808080;
    
 }
 /**{
    border:solid; 
 }*/

 .menu{
    padding: 20px;
 }
.menu a{
    margin-left: 20px;
}
.header *{
    margin:30px ;
    border: dashed;
}
 
a:link{
    color: forestgreen;
}

a:visited{
   color: red; 
}

 .header{
     border :dashed;
     background-color:skyblue ;
     display :flex;
     justify-content: space-between;

 }
 .grid{
     display:flex;
     justify-content: space-evenly;
     flex-wrap: wrap;
     
 }
 .item{
    border: dimgray;
 }

 .footer{
     display: flex;
     justify-content:flex-end;
     background-color: #ffffff;
 }

 p,h3{
     text-align: center;
 }

 body{
    background-color: #808080;
 }
.item{
    position: relative;
}
.item p{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}
.item:hover p{
    opacity: 1;
}

.item:hover img{
    opacity: 0.33;
}




 